.idea/*
.vscode
.DS_Store
run_env/*
bin/env_install.tgz
conf/*.php
conf/*.ini
conf/*.conf
conf/ral/*
conf/env
conf/env.template
conf/ENV_INIT.sh
conf/spec/*
conf/sql/*
conf/conf.sh

views/mlottery
views/affview
views/pc
views/m
views/wx
views/base
views/mmeeting
views/affa
views/affdaily
views/appview
views/mxin
views/demo
views/affad
views/mperiodreport
views/mtradeparty
views/myriadplan
views/mwlplan
views/affniche
views/affsd
views/aitfm
views/mdesign
static/pc
static/m
static/wx

.svn
.tmp
.download
output


.*.swp
.*.swo

composer.lock
vendor
webcomm
web-comm

ssr
spec
node_modules
app
